<%- include('partials/header'); -%>



<div class="profile-container">
    <h2>Profile</h2>
    <p>Email: <%= user.email %></p>
    <p>Name: <%= user.firstname %> <%= user.lastname %></p>
    <p>Github: <%= user.github %></p>

    <button id="changePasswordButton">Change Password</button>

    <form id="changePasswordForm" style="display:none;">
        <input type="password" name="currentPassword" placeholder="Current Password" required>
        <input type="password" name="newPassword" placeholder="New Password" required>
        <input type="password" name="confirmNewPassword" placeholder="Confirm New Password" required>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
     document.getElementById('changePasswordButton').addEventListener('click', function() {
        document.getElementById('changePasswordForm').style.display = 'block';
    });

    document.getElementById('changePasswordForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());

        if (data.newPassword !== data.confirmNewPassword) {
            alert('New passwords do not match!');
            return;
        }

        try {
            const response = await fetch('/change-password', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'Content-Type': 'application/json' }
            });
            const result = await response.json();
            alert(result.message);
            if (response.status === 201) {
                changePasswordForm.style.display = 'none';
                changePasswordForm.reset();
            }
        } catch (error) {
            console.error('Error changing password:', error);
        }
    });
</script>
